# Logs
*.log

# Environment variables
.env
.env.prod

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Node modules and build outputs
node_modules
dist
build
.cache
.next
.out
coverage
npm-debug.log*

# Python files
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
.idea
*.egg-info
.eggs

# Uploaded files
uploads/
